.content {
  min-height: inherit;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  width: 1240px;
}

.pieChart {
  width: 36%;
}

.barChart {
  width: 50%;

  & .chartTitle {
    margin-bottom: 100px;
  }
}

.chartTitle {
  margin: 0 auto 26px;
  text-align: center;
}
