.ratingStars {
  max-width: 100%;
  margin: 0;
  padding: 0 0.7rem;
  display: flex;
  justify-content: flex-end;
  height: 20px;
  overflow-x: hidden;
  align-self: flex-end;

  & .star {
    width: 20px;
    height: 20px;
    margin: 0 0.2rem;
    flex-shrink: 0;
    background-size: cover;

    &.success {
      background-image: url(../../public/success-star.svg);
    }

    &.fail {
      background-image: url(../../public/failure-star.svg);
    }
  }
}

.cards {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resultMessage {
  width: 16vw;
  height: 16vw;

  &.success {
    background-color: #ffffff;
    background-image: url(../../public/success.svg);
    background-repeat: no-repeat;
  }

  &.failure {
    background-color: #ffffff;
    background-image: url(../../public/failure.svg);
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1024px) {
  .categoryField {
    min-height: 72vh;
    display: flex;
    flex-direction: column;
  }
}
