.adminCards .content {
  max-width: 100%;
  margin: 43px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 18px;
  justify-content: space-around;
  padding-bottom: 40px;

  & .newCardContainer {
    height: 450px;
  }
}
