.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 0 2rem;
}

.link {
  color: #0070f3;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.main {
  min-height: 82vh;
  padding: 0 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  height: 8vh;
  display: flex;
  flex: 1;
  padding: 1rem 6rem;
  border-top: 1px solid #eaeaea;
  align-items: center;
  justify-content: row;
}

.header {
  padding: 0 6rem;
  border-bottom: 1px solid #eaeaea;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.copyright {
  margin-left: auto;
}
