.adminCardContainer {
  perspective: 500px;
  margin: 0.7rem;

  & .card {
    width: 100%;
    height: 450px;
    position: relative;
    border: 3px solid #31ff4d;
    border-radius: 16px;
    box-shadow: 3px 3px 4px rgb(0 0 0 / 10%);
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;

    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      & > * {
        margin: 0;
      }
    }

    &.flipped {
      transform: rotateY(180deg);
    }

    &:hover {
      box-shadow: 0px 6px 20px rgb(0 0 0 / 25%);
    }

    & .card__front,
    & .card__back {
      padding: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      height: 100%;
      border-radius: inherit;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      & .infoFields {
        margin: 4px 0;
        display: flex;
        flex-direction: column;
        width: 100%;

        & .field {
          display: flex;
          margin-bottom: 16px;

          &.soundFileField {
            flex-direction: column;

            & > audio {
              margin-top: 10px;
              height: 30px;
              width: 100%;
            }
          }

          & > p {
            margin: 0;
            line-height: 1.125;

            & .title {
              word-break: keep-all;
            }
          }

          & > .title {
            margin-right: 5px;
          }
        }

        & .imageContainer {
          align-self: center;

          & img {
            margin-top: 10px;
            max-height: 140px;
            object-fit: cover;
            border-radius: 6px;
          }
        }
      }
    }
  }

  & .button {
    cursor: pointer;
  }

  & form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  & .buttons {
    align-self: center;
    display: flex;
    justify-content: space-between;
  }
}

.card__front .buttons {
  margin-top: auto;
}

.card__hidden {
  backface-visibility: hidden;
}

.card__rotate {
  transform: rotateY(180deg);
}
