.spinner {
  margin: auto;
}

.content {
  max-width: 100%;
  margin: 43px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-gap: 18px;
  justify-content: space-around;
}
