.cardContainer {
  perspective: 500px;
  margin: 0.7rem;

  &.guessed {
    pointer-events: none;
  }
}

.card {
  width: 300px;
  height: 250px;
  position: relative;
  border-radius: 12px;
  box-shadow: 3px 3px 4px rgb(0 0 0 / 10%);
  cursor: pointer;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: all 0.5s ease;

  &:hover {
    box-shadow: 0px 6px 20px rgb(0 0 0 / 25%);
  }

  &.flipped {
    transform: rotateY(180deg);
  }

  & .hidden {
    display: none;
  }
}

.cardImage {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  border-radius: inherit;

  &.playModeImage {
    background-size: cover;
  }

  &.guessed {
    opacity: 0.3;
  }
}

.back,
.front,
.flip {
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.flip {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 214px;
  right: 20px;

  &:hover {
    cursor: pointer;

    & svg > path {
      fill: #0070f3;
    }
  }
}

.cardContent:last-child {
  background-color: #fff;
  height: 50px;
  width: 100%;
  bottom: 0;
  position: absolute;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
  padding: 10px 0;
}
