.content {
  min-height: 70vh;
  padding: 16px 30px;
  display: flex;
  flex-direction: column;
  height: inherit;
}

.table {
  margin-top: 30px;
}

.pagingButtons {
  margin: auto auto 0;
  padding-top: 30px;
  display: flex;
  align-items: center;
}
